.background {
    // background-image: url('../../assets/pages-background.jpg');
    // background-size: cover;
}
@media (max-width: 1000px) {
    .login-container {
        padding: 50px !important;
    }
}
.login-container {
    height:fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 100%;
    padding-top: 50px !important;
    padding: 100px;
    .login-div {
        display: flex;
        justify-content: center;
        .block {
            text-align: center;
        }
    }
    .heading {
        font-size: 20px;
        font-weight: 600;
        color: navy;
    }
    .sub-heading {
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
    }
.button {
    cursor: pointer;
    padding: 10px;
    color: black;
    background: white;
    border-radius: 30px;
    border: 1px solid #dedede;
}
.btn:hover {
    color: black;
    background-color: white;
    border-color: #dedede;
}
    .line {
        flex: 1;
        border-bottom: 1px solid #999898;
      }
}